*.pdf
*/*.pdf
*/*/*.pdf
*.aux
*/*.aux
*/*/*.aux
*.log
*/*.log
*/*/*.log
*.dvi
*/*.dvi
*/*/*.dvi
*.ps
*/*.ps
*/*/*.ps
*.spl
*/*.spl
*/*/*.spl
*/*/*/*.spl
*.out
*/*.out
*/*/*.out
*/*/*/*.out
*.nav
*/*.nav
*/*/*.nav
*/*/*/*.nav
*.pre
*/*.pre
*/*/*.pre
*/*/*/*.pre
*.snm
*/*.snm
*/*/*.snm
*/*/*/*.snm
*.toc
*/*.toc
*/*/*.toc
*/*/*/*.toc
*.rel
*/*.rel
*/*/*.rel
*/*/*/*.rel